<nav class="shadow navbar navbar-expand-lg navbar-light mb-3">
    <a class="navbar-brand" href="{% url 'home_page' %}"><b>Kalakriti</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home_page' %}">Home <span class="sr-only">(current)</span></a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home_page' %}">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home_page' %}">Market</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'home_page' %}">Register Company</a>
            <a class="dropdown-item" href="{% url 'home_page' %}">My Companies</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'home_page' %}">My Shares</a>
            <a class="dropdown-item" href="{% url 'home_page' %}">My Transactions</a>
            <a class="dropdown-item" href="{% url 'home_page' %}">My Wishlist</a>
          </div>
        </li>
      </ul>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home_page' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login_user_page' %}">Login as User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup_user_page' %}">Sign Up as User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login_business_page' %}">Login as Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup_business_page' %}">Sign Up as Business</a>
        </li>
      </ul>
      {% endif %}
  
  
  
    </div>
  </nav>