<nav class="navbar navbar-expand-lg navbar-light mb-3">
  <a class="navbar-brand" href="{% url 'home_page' %}"><h2><b>Kalakriti</b></h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}

      {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'business_page' %}">Your Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'upload_custom_product' %}">Upload New Product</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_page' %}">Your Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'money_page' %}">Add Money</a>
        </li>  
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'choice_page' %}">Explore Market For Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://hrs2203.github.io/soad_project_2020/">REST API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout_page' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="https://hrs2203.github.io/soad_project_2020/">REST API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login_user_page' %}">Login as User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup_user_page' %}">Sign Up as User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login_business_page' %}">Login as Business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup_business_page' %}">Sign Up as Business</a>
      </li>
    </ul>
    {% endif %}

  </div>
  
</nav>
