{% extends './header.html' %}

{% block title %} list p {% endblock %}

{% block customStyle %}

<style>
    img {
        width: 100%;
        height: 100%;
    }
</style>

{% endblock %}


{% block content %}

<div class="pl-2 pt-2">
    <div>
        {% if not request.user.is_staff %}
        <form class="form-group" action="/make_payment" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <select class="form-control w-100" name="selectedProductId" id="selectedProductId">
                        <option selected="selected" disabled>Select Product Id</option>
                        {% for prod in productList %}
                            <option value="{{ prod.id }}"> Product Id: {{ prod.id }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="form-control w-100" name="selectedBusinessId" id="selectedBusinessId">
                        <option selected="selected" disabled>Select Business Id</option>
                        {% for dealer in dealerList %}
                            <option value="{{ dealer.id }}"> business Id: {{ dealer.id }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <button class="btn btn-success w-100" type="submit">Place Order</button>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            {% for prod in productList %}
            <div class="card bg-white shadow mt-3 mb-5">
                <div class="card-header">
                    <h3> product Id : {{ prod.id }} </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img src="{{ prod.ProductUrl }}" alt="{{ prod.ProductName }}">
                        </div>
                        <div class="col">
                            <table class="table table-striped">
                                <tr>
                                    <td>Product Name : </td>
                                    <td>{{ prod.ProductName }}</td>
                                </tr>
                                <tr>
                                    <td>Product Price : </td>
                                    <td>{{ prod.ProductPrice }}</td>
                                </tr>
                                <tr>
                                    <td>Product Description : </td>
                                    <td>{{ prod.ProductDescription }}</td>
                                </tr>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col">
            {% for dealer in dealerList %}
            <div class="card bg-white shadow mt-3 mb-5">
                <div class="card-header">
                    <h3> business Id: {{ dealer.id }} </h3>
                </div>
                <div class="card-body">
                    <div class="col">
                        <table class="table table-striped">
                            <tr>
                                <td>Dealer Name : </td>
                                <td>{{ dealer.userModel.username }}</td>
                            </tr>
                            <tr>
                                <td>Dealer Price : </td>
                                <td>{{ dealer.serviceCharge }}</td>
                            </tr>
                            <tr>
                                <td>Dealer Description : </td>
                                <td>{{ dealer.businessDescription }}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}